.eight-header {
    display: flex;
    align-items: center;
}
.vector-eight {
    width: 197px;
    height: 26.95px;
    margin-right: 90px;
    margin-top: 20px;
    margin-left: 20px;
}
.Event {
    margin-left: 180px;
    margin-top: 49px;
    font-family: "Poppins", sans-serif;
    color: #49413D;
}
.Interior, .Contact {
    margin-left: 90px;
    margin-top: 49px;
    font-family: "Poppins", sans-serif;
    color: #49413D;

}
.Shop {
    margin-left: 230px;
    margin-top: 49px;
    font-family: "Poppins", sans-serif;
    color: #49413D;
}
#arrow {
    margin-left: 10px;
    width: 8px;
    height: 8px;
}
.Unveiling {
    width: 988px;
    height: 132px;
    font-family: "Poppins", sans-serif;
    font-size: 78px;
    line-height: 102px;
    color: #49413D;
}
#Dreams{
    color:  #004F52;
}
#Realities {
    color:  #E7A362;
}
#Crafting {
    width: 931px;
    height: 429px;
}
.mirror-corner {
    margin-left: 900px;
    width: 347px;
    height: 623px;
    margin-top: -180px;
    border-radius: 14px;
}
.rotation-corner {
    position: absolute;
    right: 467px;
    bottom: 195px;
}
.ellipse-corner {
    position: absolute;
    bottom: -10px;
    top: 12px;
    margin-left: 620px;
    margin-top: 260px;
    width: 192px;
    height: 192px;
}
.rectangle-shape {
    position: absolute;
    border-radius: 14px;
    left: 20px;
    width: 873px;
    height: 445px;
}
.arrow-vector {
    position: relative;
    left: 50%;
    right: 50%;
    top: 50px;
}
.about-twenty {
    position: relative;
    top: 70px;
    margin-left: 545px;
    color:#004F52;
    font-family: "Poppins", sans-serif;
}
.paragraph-twenty {
    position: relative;
    top: 70px;
    margin-left: 390px;
    color:#49413D;
    font-family: "Poppins", sans-serif;
}
.numeric {
    position: absolute;
    text-align: center;
    top: 1020px;
    right: 50%;
    left: 50%;
    margin-left: -269px;
    gap: 90px;
}
.thirty-plus {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-right: 170px;
}
#interior {
    color: #49413D;
    font-family: "Poppins", sans-serif;
    margin-top: -20px;
    margin-left: -180px;
    font-size: smaller;
    line-height: 1.5;
}
.twenty-plus {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 140px;
}
#event {
    color: #49413D;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    line-height: 1.5;
    margin-top: -20px;
    margin-left: 130px;
}
.second-twenty {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 320px;
}
#ongoing {
    color: #49413D;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    line-height: 1.5;
    margin-top: -20px;
    margin-left: 324px;
}
.hundred-plus {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 460px;
}
#happy{
    color: #49413D;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    line-height: 1.5;
    margin-top: -20px;
    margin-left: 480px;
}
.rectangle {
    position: relative;
    top: 230px;
    width: 1250px;
    height: 648px;
    background: #F4F4F4;
    border-radius: 60px 60px 0px 0px; 
}
