.eight-header {
    display: flex;
    align-items: center;
}
.vector-eight {
    width: 197px;
    height: 26.95px;
    margin-right: 90px;
    margin-top: 20px;
    margin-left: 20px;
}
.Event {
    margin-left: 180px;
    margin-top: 49px;
    font-family: "Poppins", sans-serif;
    color: #49413D;
}
.Interior, .Contact {
    margin-left: 90px;
    margin-top: 49px;
    font-family: "Poppins", sans-serif;
    color: #49413D;

}
.Shop {
    margin-left: 230px;
    margin-top: 49px;
    font-family: "Poppins", sans-serif;
    color: #49413D;
}
#arrow {
    margin-left: 10px;
    width: 8px;
    height: 8px;
}
.Unveiling {
    width: 988px;
    height: 132px;
    font-family: "Poppins", sans-serif;
    font-size: 78px;
    line-height: 102px;
    color: #49413D;
}
#Dreams{
    color:  #004F52;
}
#Realities {
    color:  #E7A362;
}
#Crafting {
    width: 931px;
    height: 429px;
}
.mirror-corner {
    margin-left: 900px;
    width: 347px;
    height: 623px;
    margin-top: -180px;
    border-radius: 14px;
}
.rotation-corner {
    position: absolute;
    right: 467px;
    bottom: 195px;
}
.ellipse-corner {
    position: absolute;
    bottom: -10px;
    top: 12px;
    margin-left: 620px;
    margin-top: 260px;
    width: 192px;
    height: 192px;
}
.rectangle-shape {
    position: absolute;
    border-radius: 14px;
    left: 20px;
    width: 873px;
    height: 445px;
}
.arrow-vector {
    position: relative;
    left: 50%;
    right: 50%;
    top: 50px;
}
.about-twenty {
    position: relative;
    top: 70px;
    margin-left: 545px;
    font-size: medium;
    color:#004F52;
    font-family: "Poppins", sans-serif;
}
.paragraph-twenty {
    position: relative;
    top: 70px;
    font-size: medium;
    margin-left: 390px;
    color:#49413D;
    font-family: "Poppins", sans-serif;
}
.numeric {
    position: absolute;
    text-align: center;
    top: 1020px;
    right: 50%;
    left: 50%;
    margin-left: -269px;
    gap: 90px;
}
.thirty-plus {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-right: 170px;
}
#interior {
    color: #49413D;
    font-family: "Poppins", sans-serif;
    margin-top: -20px;
    margin-left: -180px;
    font-size: smaller;
    line-height: 1.5;
}
.twenty-plus {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 140px;
}
#event {
    color: #49413D;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    line-height: 1.5;
    margin-top: -20px;
    margin-left: 130px;
}
.second-twenty {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 320px;
}
#ongoing {
    color: #49413D;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    line-height: 1.5;
    margin-top: -20px;
    margin-left: 324px;
}
.hundred-plus {
    color: #E7A362;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 460px;
}
#happy{
    color: #49413D;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    line-height: 1.5;
    margin-top: -20px;
    margin-left: 480px;
}
.rectangle {
    position: relative;
    top: 230px;
    width: 1250px;
    height: 620px;
    background: #F4F4F4;
    border-radius: 60px 60px 0px 0px;
}
.our-service {
    padding-top: 80px;
    text-align: center;
    color: #004F52;
    font-size: medium;
    font-family: "Poppins", sans-serif;  
}
.Discover {
    color: #49413D;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.house-design {
    display: flex;
    font-family: "Poppins", sans-serif;
    margin-left: 290px;
    margin-bottom: -5px;
    margin-top: 70px;
}
#INTERIOR {
    font-size: 30px;
    color:#49413D;
}
#INTERIORZ {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color:#49413D;
    margin-left: 506px;
    margin-top: -40px;
}
.Vector-house{
    width: 100px;
    height: 59px;
    margin-right: 120px;
}
.Vectorz-house {
    width: 100px;
    height: 59px;
    margin-left: 289px;
    margin-top: 30px;
}
.arrow-down {
    width: 26.18px;
    height: 26.18px;
    margin-top: 32px;
    margin-left: 130px;
}
#last-arrow {
    position: relative;
    left: 900px;
    bottom: 63px;
    width: 26.18px;
    height: 26.18px; 
}
#line {
    border: 1px solid  #49413D;
    width: 700px;
    margin-right: 280px;
}
#last-line {
    position: relative;
    bottom: 23px;
    border: 1px solid  #49413D;
    width: 700px;
    margin-right: 280px;
}
.second-glasses {
    margin-top: 40px;
}
.Our-process {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: #004F52;
    margin-top: 190px;
    margin-left: 590px;
}
#something {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: #49413D;
}
.discuss {
    margin-top: 410px;
    margin-left: 90px;
    width: 260px;
    height: 200px;
    border-radius: 20px;
    background:#E7A362;
}
.large-rectangle {
    display: flex;
    margin-top: -200px;
    margin-left: 370px;
    width: 708px;
    height: 196px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 2px solid #E7A362;
}
#text-paragraph {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
    line-height: 40px;
    padding-top: 40px;
}
#square {
    margin-left: 40px;
    margin-top: 20px;
    width: 180px;
    height: 160px;
    border-radius: 20px;
    background:#F4F4F4;
}
#square-shape {
    margin-top: 20px;
    margin-left: 50px;
    width: 180px;
    height: 160px;
    border-radius: 20px;
    background:#F4F4F4;
}
#square-one {
    margin-top: 20px;
    margin-left: 50px;
    width: 180px;
    height: 160px;
    border-radius: 20px;
    background:#F4F4F4;
}